
<section class="main">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-7 pt-5 text-center">
        <h1 class="pt-1">Lo mejor en alimentos premium para tu mascota</h1>
        <button class="btn1 mt-3">ver mas</button>
      </div>
    </div>
  </div>
</section>



<section class="product">
  <div class="container py-5">

    <div class="row py-5">
      <div class="col-lg-5 m-auto text-center">
        <h1 class="h1t">Mascotas</h1>
      
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-3 col-md-3">
        <div class="card border-0 mb-2">
          <div class="card-body">
            <a [routerLink] = "['/productos/marcas/mascota','perro']">
            <img src="../../../../assets/perrito.jpg" class="img-fluid"style="border-radius: 15px;" alt="">
            </a>
          </div>
        </div>

      </div>

       <div class="col-12 col-lg-3 col-md-3">
        <div class="card border-0 mb-2">
          <div class="card-body">
            <a [routerLink] = "['/productos/marcas/mascota','gato']">
            <img src="../../../../assets/gatito.jpg" class="img-fluid" style="border-radius: 15px;" alt="">
            </a>
          </div>
        </div>

      </div>

    
    </div>


  </div>

   

</section>


<section class="product">
  <div class="container py-5">

    <div class="row py-3">
      <div class="col-lg-5 m-auto text-center">
        <h1 class="h1t">Algunas marcas</h1>
     

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-3 col-md-2">
        <div class="card border-0  mb-2">
          <div class="card-body">
            <img src="../../../../assets/proplan.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>

       <div class="col-12 col-lg-3 col-md-2">
        <div class="card border-0  mb-2">
          <div class="card-body">
            <img src="../../../../assets/proplan.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>

       <div class="col-12 col-lg-3 col-md-2">
        <div class="card border-0  mb-2">
          <div class="card-body">
            <img src="../../../../assets/proplan.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>

       <div class="col-12 col-lg-3 col-md-2">
        <div class="card border-0  mb-2">
          <div class="card-body">
            <img src="../../../../assets/proplan.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>


    </div>


    <div class="row mt-4">
      <div class="col-lg-6 text-center m-auto">
        <button class="btn1">ver mas </button>
      </div>
    </div>
  </div>

</section>


<section class="promo py-5">
  <div class="container text-dark py-5">
    <div class="row py-5">
      <div class="col-lg-6">
        <h1 class="font-weight-bold py-3">Desbloquea el potencial de tu perro con una buena alimentación</h1>
        <!--<h6 style="color: white;">Vuelvete premium</h6>-->
        <button class="btn1 mt-3">Conocenos</button>
      </div>
    </div>
  </div>
</section>


<section class="news py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-9">

      </div>
    </div>

    <div class="row">
      <div class="col-lg-11">
        <div class="row">
          <div class="col-lg-3">
            <h5>La bodeguita214</h5>
            <p>Aviso de privacidad</p>
            <p>Terminos y Condiciones</p>
          </div>
          <div class="col-lg-3">
            <h5>La bodeguita214</h5>
            <p>Aviso de privacidad</p>
            <p>Terminos y Condiciones</p>
          </div>

          <div class="col-lg-3">
            <h5 class="pb-3">Siguenos en redes</h5>
            <span><i class ="fab fa-facebook"></i></span>
            <span><i class ="fab fa-instagram"></i></span>
          
          </div>
        </div>

      </div>
    </div>
  </div>

</section>